@import "general.less";

/*==============================
=            Player            =
==============================*/
body {
    background-color: #F1F1F1;
}
.mao-player-wrapper {

    .card-panel {
        margin-bottom: 0;
        margin-top: 0;
    }

    .mao-video-info {
        padding-right: 0.6rem;
        p,h5,h4,h6 {
            color: black;
        }

        .mao-video-short-info {
            margin-top: 0.6rem;
        }
    }

    .mao-video-btn {
        width: 49%;
        overflow: hidden;
    }

    .mao-music-sheet-wrapper {

        margin-top: 0px;

        // background-image: url("../images/lightpaperfibers/lightpaperfibers_@2X.png");
        .mao-music-sheet-box {
            height: 30rem;
            overflow: auto;
        }

        #mao-music-sheet {
            height: 10rem;
        }

        .mao-tab-content {
            // padding-top: 0.8rem;
        }
        li.tab > a {
            // background-image: url("../images/lightpaperfibers/lightpaperfibers_@2X.png");
        }
    }
}

.mao-recommender {
    div.row > div.col {
        & {
            
        }
    }
}
/*=====  End of Player  ======*/
