.chord {
    padding: 0 10px;
}

.stave {
    min-height: 36px;
}

.measure-left {
  min-height: 36px;
  border-left: 2px solid rgb(0, 0, 0);
  border-right: 1px solid rgb(0, 0, 0);
}

.measure-right {
  min-height: 36px;
  border-left: 1px solid rgb(0, 0, 0);
  border-right: 2px solid rgb(0, 0, 0);
}