{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>帳戶總覽</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="{% static 'notebox/css/materialize.min.css' %}" media="screen,projection"/>
	<!-- my style -->
	<link rel="stylesheet" type="text/css" href="{% static 'notebox/css/account_info.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'notebox/css/general.css' %}">
</head>
<body>
	<!--====================================
	=            Include navbar            =
	=====================================-->
	{% include 'notebox/navbar.html' %}
	<!--====  End of Include navbar  ====-->

	<!--==================================
	=            Main Content            =
	===================================-->
	
	<div class="mao-content-wrapper">
		<div class="row">
			<!-- Menu -->
			<div class="col s3">
				<div class="collection">
					<a href="/notebox/account/" class="collection-item active">帳戶總覽</a>
					<a href="/notebox/account/favorite/" class="collection-item">我的收藏</a>
					<a href="#" class="collection-item">上傳管理</a>
				</div>
			</div>
			<!-- Content -->
			<div class="col s9">
				<div class="card-panel mao-content">
					<!-- Info -->
					<div class="section">
						<h5>帳戶總覽</h5>
						<div class="divider"></div>
					</div>

					<!-- One row data -->
					<div class="section row">
						<div class="col s4">名稱</div>
						<div class="col s8">{{ user.username }}</div>
					</div>

					<div class="section row">
						<div class="col s4">連絡信箱</div>
						<div class="col s8">{{ user.email }}</div>
					</div>

					<div class="section row">
						<div class="col s4">帳戶類型</div>
						<div class="col s8">一般用戶</div>
					</div>

					<div class="section row">
						<div class="col s4">密碼</div>
						<div class="col s8">按下此處以變更密碼</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	
	<!--====  End of Main Content  ====-->

	<!--============================
	=            Footer            =
	=============================-->
	{% include 'notebox/footer.html' %}
	<!--====  End of Footer  ====-->
	

	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="{% static 'notebox/js/materialize.min.js' %}"></script>

	<script>
		$(document).ready(function() {
			$('.button-collapse').sideNav();
			$(".dropdown-button").dropdown();
			$('.modal-trigger').leanModal();
		})
	</script>
</body>
</html>