<!-- ===== Nav Bar ===== -->
<div class="navbar-fixed">
    <nav id="navbar-fixed" role="navigation">
        <div class="nav-wrapper container">
            <!-- logo -->
            <a id="logo" href="/notebox/" class="brand-logo white-text">NoteBox</a>

            <!-- menu icon -->
            <a href="#" data-activates="nav-mobile" class="button-collapse white-text">
                <i class="fa fa-bars"></i>
            </a>

            <!-- Dropdown Structure -->
            <ul id="dropdown1" class="dropdown-content">
                <li><a class="brown-text darken-5" href="#!">經典之作</a></li>
                <li><a class="brown-text darken-5" href="#!">新潮流行</a></li>
                <li><a class="brown-text darken-5" href="#!">獨立樂團</a></li>
                <li class="divider"></li>
                <li><a class="brown-text darken-5" href="#!">更多</a></li>
            </ul>
            <ul id="dropdown2" class="dropdown-content">
                <li><a class="brown-text darken-5" href="#!">3~5個音</a></li>
                <li><a class="brown-text darken-5" href="#!">5~10個音</a></li>
                <li><a class="brown-text darken-5" href="#!">10~20個音</a></li>
                <li class="divider"></li>
                <li><a class="brown-text darken-5" href="#!">更多</a></li>
            </ul>
            <ul id="dropdown3" class="dropdown-content">
                <li><a class="brown-text darken-5" href="#!">藍調</a></li>
                <li><a class="brown-text darken-5" href="#!">爵士</a></li>
                <li><a class="brown-text darken-5" href="#!">古典</a></li>
                <li class="divider"></li>
                <li><a class="brown-text darken-5" href="#!">更多</a></li>
            </ul>

            <!-- normal nav-->
            <ul class="right hide-on-med-and-down">
                <li><a class="white-text navs" href="/notebox/overview/">曲目總覽</a></li>
                <li class="no-hvr-effect">
                    <a class="dropdown-button white-text navs" href="#!" data-activates="dropdown1">
                        <i class="fa fa-caret-down right nav-drop"></i>精選曲目
                    </a>
                </li>
                <li class="no-hvr-effect">
                    <a class="dropdown-button white-text navs" href="#!" data-activates="dropdown2">
                        <i class="fa fa-caret-down right nav-drop"></i>程度分級
                    </a>
                </li>
                <li class="no-hvr-effect">
                    <a class="dropdown-button white-text navs" href="#!" data-activates="dropdown3">
                        <i class="fa fa-caret-down right nav-drop"></i>曲目類型
                    </a>
                </li>
                <li class="no-hvr-effect"><a class="white-text nav-button modal-trigger navs" href="#login_modal">登入</a></li>
                <li class="no-hvr-effect"><a class="white-text nav-button modal-trigger navs" href="#register_modal">註冊</a></li>
            </ul>

            <!-- mobile nav -->
            <ul id="nav-mobile" class="side-nav">
                <li><a class="grey-text text-darken-2 modal-trigger" href="#login_modal">登入</a></li>
                <li><a class="grey-text text-darken-2 modal-trigger" href="#register_modal">註冊</a></li>
            </ul>

        </div>
    </nav>
</div><!-- ===== end of Nav Bar ===== -->

<!--==========================================
=            Login/Register Modal            =
===========================================-->

<div id="login_modal" class="account_modal modal">
    <!--==========================
    =            Form            =
    ===========================-->
    <form action="" class="mao-form">
        <div class="modal-content">
            <div class="row">
                <div class="col s12 input-field">
                    <input type="email" id="email" class="validate">
                    <label for="email">E-mail</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 input-field">
                    <input type="password" id="password" class="validate">
                    <label for="password">Password</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-flat" id="submit" type="submit" name="action">登入</button>
            <button class="btn btn-flat">Google+ 登入</button>
            <button class="btn btn-flat">Facebook 登入</button>
        </div>
    </form>
    <!--====  End of Form  ====-->
</div>

<div id="register_modal" class="account_modal modal">
    <!--==========================
    =            Form            =
    ===========================-->
    <form action="" class="mao-form">
        <div class="modal-content">
            <div class="row">
                <div class="col s12 input-field">
                    <input type="text" id="username" class="validate">
                    <label for="username">Username</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 input-field">
                    <input type="email" id="email" class="validate">
                    <label for="email">E-mail</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 input-field">
                    <input type="password" id="password" class="validate">
                    <label for="password">Password</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-flat" id="submit" type="submit" name="action">註冊</button>
        </div>
        
    </form>
    <!--====  End of Form  ====-->
</div>

<!--====  End of Login/Register Modal  ====-->