<!-- ===== Nav Bar ===== -->
<div class="navbar-fixed">
  <nav id="navbar-fixed" role="navigation">
    <div class="nav-wrapper container">
      <!-- logo -->
      <a id="logo" href="/notebox/" class="brand-logo white-text">NoteBox</a>

      <!-- menu icon -->
      <a href="#" data-activates="nav-mobile" class="button-collapse white-text">
        <i class="fa fa-bars"></i>
      </a>

      <!-- Dropdown Structure -->
      <ul id="dropdown1" class="dropdown-content">
        <li><a class="brown-text darken-5" href="/notebox/overview/"><i class="fa fa-music left"></i>和弦搜尋</a></li>
        <li><a class="brown-text darken-5" href="/notebox/overview/"><i class="fa fa-th-list left"></i>類別搜尋</a></li>
        <li><a class="brown-text darken-5" href="/notebox/overview/"><i class="fa fa-sliders left"></i>難易度搜尋</a></li>
      </ul>

      <!-- normal nav-->
      <ul class="right hide-on-med-and-down">
        <li><a class="white-text navs" href="#!">關於我們</a></li>
        <li class="no-hvr-effect">
          <a class="dropdown-button white-text navs" href="#!" data-activates="dropdown1">
            <i class="fa fa-caret-down right nav-drop"></i>分類搜尋
          </a>
        </li>
        <li><a class="white-text navs" href="#!">和弦巧拼</a></li>
        <li><a class="white-text navs" href="#!">補給站</a></li>

        {% if not user.is_authenticated %}
        <li class="no-hvr-effect">
          <a class="white-text nav-button modal-trigger navs" href="#login_modal">登入</a>
        </li>
        <li class="no-hvr-effect">
          <a class="white-text nav-button modal-trigger navs" href="#register_modal">註冊</a>
        </li>
        {% else %}
        <li>
          <a class="white-text navs" href="#!">
            <i class="fa fa-plus right"></i>匯入影片
          </a>
        </li>
        <li class="no-hvr-effect">
          <a class="white-text nav-button navs dropdown-button" data-activates='account_tools' href="#">{{ user.username }}</a>
        </li>
        {% endif %}

      </ul>

      {% comment "Not to do mobile now" %}
      <!-- mobile nav -->
            <!-- <ul id="nav-mobile" class="side-nav">
                <li><a class="grey-text text-darken-2 modal-trigger" href="#login_modal">登入</a></li>
                <li><a class="grey-text text-darken-2 modal-trigger" href="#register_modal">註冊</a></li>
              </ul> -->    
              {% endcomment %}

            </div>
          </nav>
        </div><!-- ===== end of Nav Bar ===== -->

        {% if not user.is_authenticated %}

<!--==========================================
=            Login/Register Modal            =
===========================================-->
<div id="login_modal" class="account_modal modal">
    <!--==========================
    =            Form            =
    ===========================-->
    <form action="" method="post" class="mao-form">
      {% csrf_token %}
      <div class="modal-content">
        {% for field in login_form %}
        <div class="row">
          <div class="col s12 input-field">
            {{ field.errors }}
            {{ field.label_tag }}
            {{ field }}
          </div>
        </div>    
        {% endfor %}
      </div>
      <div class="modal-footer">
        <button class="btn btn-flat" id="submit" type="submit" name="login">登入</button>
        <button class="btn btn-flat">Google+ 登入</button>
        <button class="btn btn-flat">Facebook 登入</button>
      </div>
    </form>
    <!--====  End of Form  ====-->
  </div>

  <div id="register_modal" class="account_modal modal">
    <!--==========================
    =            Form            =
    ===========================-->
    <form action="" method="post" class="mao-form">
      {% csrf_token %}
      <div class="modal-content">
        {% for field in sign_form %}
        <div class="row">
          <div class="col s12 input-field">
            {{ field.errors }}
            {{ field.label_tag }}
            {{ field }}
          </div>
        </div>    
        {% endfor %}
      </div>
      <div class="modal-footer">
        <button class="btn btn-flat" id="submit" type="submit" name="register">註冊</button>
      </div>

    </form>
    <!--====  End of Form  ====-->
  </div>
  <!--====  End of Login/Register Modal  ====-->

  {% else %}

  {% comment %}
  Add account dropdown tools here
  {% endcomment %}

  <ul id='account_tools' class='dropdown-content'>
    <li><a class="brown-text" href="/notebox/account/">帳戶總覽</a></li>
    <li><a class="brown-text" href="/notebox/account/favorite/">我的收藏</a></li>
    <li class="divider"></li>
    <li><a class="brown-text" href="/notebox/account/logout/">登出</a></li>
  </ul>

  {% endif %}