{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>上傳歌曲</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="{% static 'notebox/css/materialize.min.css' %}" media="screen,projection"/>
  <!-- my style -->
  <link rel="stylesheet" type="text/css" href="{% static 'notebox/css/general.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'notebox/css/w-style.css' %}">
</head>
<body ng-app="chordEdit">
  <!--====================================
  =            Include navbar            =
  =====================================-->
  {% include 'notebox/navbar.html' %}
  <!--====  End of Include navbar  ====-->


  <!--==================================
  =            Main Content            =
  ===================================-->

  <div class="grey lighten-5">
    <div class="container med-pad-block">
      <h3 class="brown-text">
        {% if step == 0  %}
          上傳歌曲第一步 - 歌曲基本資料
        {% else %}
          上傳歌曲第二步 - 寫譜
        {% endif %}
      </h3>
      <div class="row small-pad-block">

        {% if step == 0 %}

        <!--==========================
        =            Step 0 Form     =
        ===========================-->
        <form action="" method="POST"> {% csrf_token %}
          <div class="card">
            <div class="card-content row">
              <!-- <div class="col s12" id="youtube_preview">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/cOzZfxVa0qE" frameborder="0" allowfullscreen></iframe>
              </div> -->
              <div class="col s12">
                <div class="">
                <b>{{ upload_form.youtube_url.label_tag}}</b>
                {{ upload_form.youtube_url}}
                </div>
                <div class="">
                <b>{{ upload_form.title.label_tag}}</b>
                {{ upload_form.title}}
                </div>
              </div>

              <div class="col s8">
                <div class="">
                <b>{{ upload_form.note.label_tag}}</b>
                {{ upload_form.note}}
                </div>
                <div class="">
                {{ upload_form.artist.label_tag}}
                {{ upload_form.artist}}
                </div>
                <div class="">
                {{ upload_form.composer.label_tag}}
                {{ upload_form.composer}}
                </div>
              </div>

              <div class="col s4">
                <div class="">
                <b>{{ upload_form.song_style.label_tag}}</b>
                {{ upload_form.song_style}}
                </div>
                <div class="">
                <b>{{ upload_form.song_level.label_tag}}</b>
                {{ upload_form.song_level}}
                </div>
                <div class="">
                {{ upload_form.tab_url.label_tag}}
                {{ upload_form.tab_url}}
                </div>
              </div>

              <div class="col s12">
                <div class="">
                {{ upload_form.desc.label_tag}}
                {{ upload_form.desc}}
                </div>
              </div>

              <div class="col s12 center-align">
                <button class="btn-large waves-effect waves-light" type="submit" name="upload">
                  下一步 >> 寫譜
                </button>
              </div>

            </div>
          </div>
        </form>
        <!--====  End of Step 0 Form  ====-->

        {% else %}
        
        <!--========================================
        =            Step 1 Note Editor            =
        =========================================-->
        <div ng-controller="ChordKeyCtrl">
          <!-- Video preview -->
          <div class="col s4">
            <div class="card">
              <div class="card-content">
                <div class="card-title" id='vp-title'>
                  {{ cleaned_data.title }}
                  <div class="divider"></div>
                </div>
                <div class="section">
                  <iframe width="" height="" 
                    src="https://www.youtube.com/embed/{{ cleaned_data.youtube_id }}" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </div>

          {% verbatim %}
          <!-- Note preview -->
          <div class="col s8">
            <div class="card">
              <div class="card-content">
                <div class="card-title">
                  <h5>樂譜預覽</h5>
                  <div class="divider"></div>
                </div>
                <div class="section">
                  <span ng-repeat="ic in inputChords track by $index">
                    {{ ic }}
                  </span>
                </div>
              </div>
            </div>
          </div>

          <!-- Chord keyboard -->
          <div class="col s12">
            <div class="card">
              <div class="card-content" id="chord-keyboard">
                <div class="section">
                  <button class="btn" style="margin-left:0.1rem;" ng-repeat="c in chords" ng-click="chordKeyFunc(c)">
                    {{ bindKeyboard($index, c) }}
                    {{ c }} ({{availableKeys[$index]}})
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endverbatim %}
        <!--====  End of Step 1 Note Editor  ====-->
        {% endif %}

      </div>
    </div>
  </div>
  
  <!--====  End of Main Content  ====-->

  <!--============================
  =            Footer            =
  =============================-->
  {% include 'notebox/footer.html' %}
  <!--====  End of Footer  ====-->
  

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="{% static 'notebox/js/materialize.min.js' %}"></script>
  <!-- AngularJS -->
  <script type="text/javascript" src="{% static 'notebox/js/bower_components/angular/angular.js' %}"></script>
  <script type="text/javascript" src="{% static 'notebox/js/bower_components/angular-hotkeys/build/hotkeys.min.js' %}"></script>
  <script>

  {% if step == 1 %}
  // Angular JS
  var chordEdit = angular.module("chordEdit", ['cfp.hotkeys']);
  chordEdit.controller('ChordKeyCtrl', function($scope, hotkeys) {
    // Chord list
    $scope.chords = [ 
      {% for c in cleaned_data.note %}
        "{{ c }}",
      {% endfor %}
    ];

    // Chord string
    $scope.inputChords = [];
    $scope.chordKeyFunc = function(key) {
      $scope.inputChords.push(key);
    };

    // Bind keyboard
    $scope.availableKeys = [
      'a', 's', 'd', 'f', 'g', 
      'h', 'j', 'k', 'l', ';'
    ];
    $scope.bindKeyboard = function(index, chord) {
      hotkeys.add({
        combo: $scope.availableKeys[index],
        desciption: chord,
        callback: function() {
          $scope.chordKeyFunc(chord);
        }
      });
    };
  });
  {% endif %}

  $(document).ready(function() {
    // ===== Materialze Setup =====
    $('select').material_select();
    $('.button-collapse').sideNav();
    $('.modal-trigger').leanModal();
    // Navbar dropdown setting
    $('.dropdown-button:contains("分類搜尋")').dropdown({
      inDuration: 300,
      constrain_width: false,
      outDuration: 225,
      hover: true, // Activate on hover
      belowOrigin: true,
      alignment: 'left'
    });
    // ===== end of Materialze Setup =====

    $('footer').addClass('no-top-margin');


    {% if step == 1 %}
    /*==============================
    =            Step 1            =
    ==============================*/
    // RWD video
    var width = $("#vp-title").width();
    $("iframe").width(width);
    /*=====  End of Step 1  ======*/
    {% endif %}
  });
  </script>
</body>
</html>