{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>上傳歌曲</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="{% static 'notebox/css/materialize.min.css' %}" media="screen,projection"/>
  <!-- my style -->
  <link rel="stylesheet" type="text/css" href="{% static 'notebox/css/general.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'notebox/css/w-style.css' %}">
</head>
<body>
  <!--====================================
  =            Include navbar            =
  =====================================-->
  {% include 'notebox/navbar.html' %}
  <!--====  End of Include navbar  ====-->


  <!--==================================
  =            Main Content            =
  ===================================-->

  <div class="grey lighten-5">
    <div class="container med-pad-block">
      <h3 class="brown-text">上傳歌曲</h3>
      <div class="row small-pad-block">

        <form class="col s12" method="POST">
          <div class="card">
            <div class="card-content">  
              {% csrf_token %}
              {% for field in upload_form %}

              <div class="row">
                <div class="col s12 input-field">
                  {{ field.errors }}
                  {{ field }}
                  {{ field.label_tag }}
                </div>
              </div>

              {% endfor %}
              <div class="row">
                <div class="col s12 center-align">
                  <button class="btn-large waves-effect waves-light" type="submit" name="upload">
                    送出
                  </button>
                  <button class="white grey-text text-darken-2 btn-large waves-effect" type="reset" name="upload">
                    清除
                  </button>
                </div>
              </div>

            </div>
          </div>
        </form>

      </div>

    </div>
  </div>
  
  <!--====  End of Main Content  ====-->

  <!--============================
  =            Footer            =
  =============================-->
  {% include 'notebox/footer.html' %}
  <!--====  End of Footer  ====-->
  

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="{% static 'notebox/js/materialize.min.js' %}"></script>

  <script>
  $(document).ready(function() {
    // ===== Materialze Setup =====
    $('select').material_select();
    $('.button-collapse').sideNav();
    $('.modal-trigger').leanModal();
    // Navbar dropdown setting
    $('.dropdown-button:contains("分類搜尋")').dropdown({
      inDuration: 300,
      constrain_width: false,
      outDuration: 225,
      hover: true, // Activate on hover
      belowOrigin: true,
      alignment: 'left'
    });
    // ===== end of Materialze Setup =====

    $('footer').addClass('no-top-margin');
    })
  </script>
</body>
</html>