// brwown rgb (121,85,72)
$extrem-small-space: 0.5rem
$small-space: 1rem
$medium-space: 3rem
$large-space: 5rem

$small-round-border: 2px

$text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6)

=border-radius($radius)
	-webkit-border-radius: $radius
	-moz-border-radius: $radius
	-ms-border-radius: $radius
	-o-border-radius: $radius
	border-radius: $radius

/*----------  general  ----------*/
.text-shadow
	-webkit-text-shadow: $text-shadow
	-moz-text-shadow: $text-shadow
	-ms-text-shadow: $text-shadow
	-o-text-shadow: $text-shadow
	text-shadow: $text-shadow

.black-mask
	content: ""
	display: block
	height: 100%
	left: 0
	position: absolute
	top: 0
	z-index: 3
	width: 100%
	background-color: rgba(0, 0, 0, 0.35)

.sink
	z-index: -100

.bg-twhite-8
	background-color: rgba(255, 255, 255, 0.8)

.black-bg-text
	background-color: rgba(0, 0, 0, 0.5)

.big-pad-block
	padding-top: $large-space
	padding-bottom: $large-space

.med-pad-block
	padding-top: $medium-space
	padding-bottom: $medium-space

.no-top-margin
	margin-top: 0 !important

a.block-link
	color: inherit !important

/*----------  search bar  ----------*/
.search-input
	// padding: 1rem
	+border-radius($small-round-border)
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
	
	input[type=search], input[type=search]:focus
		+border-radius($small-round-border)